.App {
  text-align: center;
}

.App nav {
  padding: 1rem;
  margin: 0 1rem;
  border-bottom: 1px solid #e8e8e8;
}

.App nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.App nav ul a {
  color: #000;
  font-size: 1rem;
  text-decoration: none;
}

.App nav ul a:hover {
  text-decoration: underline;
}
